<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Dashboard</h2>
      <p>Whole data about your business here</p>
    </div>
    <div>
      <a href="/admin/salesReport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create
        report</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-primary-light"><i
              class="text-primary material-icons md-monetization_on"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Revenue</h6>
            <span>₹ <%=response.dashBoard[0].totalRevenue%></span>
            <span class="text-sm"> Shipping fees are not included </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-success-light"><i
              class="text-success material-icons md-local_shipping"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Orders</h6>
            <span>
              <%=response.dashBoard[0].orderCount%>
            </span>
            <span class="text-sm"> Excluding orders in transit </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-warning-light"><i
              class="text-warning material-icons md-qr_code"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Products</h6>
            <span>
              <%=response.productCount%>
            </span>
            <span class="text-sm"> In 19 Categories </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-info-light"><i
              class="text-info material-icons md-shopping_basket"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Monthly Earning</h6>
            <span>₹ <%=response.dashBoard[0].monthlyEarning%></span>
            <span class="text-sm"> Based in your local time. </span>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-12">
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Sale statistics</h5>
          <!-- <canvas id="chartdiv"></canvas> -->
          <div id="chartdiv"></div>
        </article>
        <div id="chartData" class="hidden">
          <%=JSON.stringify(response.yearlySalesgraph)%></button>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Category Sales In Percentage</h5>
          <div id="chartdiv2"></div>
        </article>
        <div id="chartData2" class="hidden">
          <%=JSON.stringify(response.categoryCount)%></button>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- content-main end// -->
<footer class="main-footer font-xs">
  <div class="row pb-30 pt-15">
    <div class="col-sm-6">
      <script>
        document.write(new Date().getFullYear());
      </script>
      ©, Evara - HTML Ecommerce Template .
    </div>
    <div class="col-sm-6">
      <div class="text-sm-end">All rights reserved</div>
    </div>
  </div>
</footer>



<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }

  #chartdiv2 {
    width: 100%;
    height: 500px;
  }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>



<!-- Chart code -->
<script>



  am5.ready(function () {

    let chartData = JSON.parse(document.getElementById("chartData").innerHTML)

    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");


    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);


    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
      pinchZoomX: true
    }));

    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
    cursor.lineY.set("visible", false);


    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
    xRenderer.labels.template.setAll({
      rotation: -90,
      centerY: am5.p50,
      centerX: am5.p100,
      paddingRight: 15
    });

    xRenderer.grid.template.setAll({
      location: 1
    })

    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "months",
      renderer: xRenderer,
      tooltip: am5.Tooltip.new(root, {})
    }));

    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      maxDeviation: 0.3,
      renderer: am5xy.AxisRendererY.new(root, {
        strokeOpacity: 0.1
      })
    }));


    // Create series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
      name: "Series 1",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "totalSales",
      sequencedInterpolation: true,
      categoryXField: "months",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));

    series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5, strokeOpacity: 0 });
    series.columns.template.adapters.add("fill", function (fill, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });

    series.columns.template.adapters.add("stroke", function (stroke, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });

    // Set data
    var data = chartData

    xAxis.data.setAll(data);
    series.data.setAll(data);


    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);

  }); // end am5.ready()
</script>


<!-- donut_chart-start -->

<script>
  am5.ready(function () {
    let categoryCount = JSON.parse(document.getElementById("chartData2").innerHTML)
    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv2");

    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);

    // Create chart
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
    var chart = root.container.children.push(am5percent.PieChart.new(root, {
      // centerY: am5.percent(10),
      radius: am5.percent(90),
      innerRadius: am5.percent(40),
      y: am5.percent(-10),
      layout: root.verticalLayout
    }));

    // Create series
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
    var series = chart.series.push(am5percent.PieSeries.new(root, {
      name: "Series",
      valueField: "count",
      categoryField: "_id"
    }));

    // Set data
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
    console.log("categoryCount : ",categoryCount);
    series.data.setAll(categoryCount);

    // Disabling labels and ticks
    series.labels.template.set("visible", false);
    series.ticks.template.set("visible", false);

    // Adding gradients
    series.slices.template.set("strokeOpacity", 0);
    series.slices.template.set("fillGradient", am5.RadialGradient.new(root, {
      stops: [{
        brighten: -0.8
      }, {
        brighten: -0.8
      }, {
        brighten: -0.5
      }, {
        brighten: 0
      }, {
        brighten: -0.5
      }]
    }));

    // Create legend
    // https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
    var legend = chart.children.push(am5.Legend.new(root, {
      centerY: am5.percent(50),
      y: am5.percent(85),
      x: am5.percent(13),
      layout: root.verticalLayout
    }));
    // set value labels align to right
    legend.valueLabels.template.setAll({ textAlign: "right" })
    // set width and max width of labels
    legend.labels.template.setAll({
      maxWidth: 140,
      width: 140,
      oversizedBehavior: "wrap"
    });

    legend.data.setAll(series.dataItems);


    // Play initial series animation
    // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
    series.appear(1000, 100);

  }); // end am5.ready()

</script>