<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons </h2>
            <p>Add and manage coupons</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/coupons" method="post">

                        <label for="discount-percentage">Discount Percentage:</label>
                        <input class="form-control" type="number" id="discount-percentage" name="discountPercentage"
                            required min="0" max="100">

                        <label for="max-discount-amount">Max Discount Amount:</label>
                        <input class="form-control" type="number" id="max-discount-amount" name="maxDiscountAmount"
                            required min="0">

                        <label for="minimum-purchase-amount">Minimum Purchase Amount:</label>
                        <input class="form-control" type="number" id="minimum-purchase-amount" name="minAmount" required
                            min="0">

                        <label for="category">Category:</label>
                        <select class="form-select" name="category" id="main-category">
                            <option></option>
                            <option value="Men">Men's Clothing</option>
                            <option value="Women">Women's Clothing</option>
                            <option value="Kids">Kid's Clothing</option>
                        </select>

                        <label for="minimum-purchase-amount">Coupon Description:</label>
                        <input class="form-control" type="text" id="coupon-description" name="description" required
                            min="0">
                        <hr>

                        <label for="minimum-purchase-amount">expiry date</label>
                        <input class="form-control" type="date" id="coupon-date" name="endDate" required min="0">
                        <hr>

                        <div>
                            <button type="submit" class="btn btn-primary">Create Coupon</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <label for="minimum-purchase-amount">Coupon Description:</label>
                    <div class="table-responsive">
                        <table class="table table-hover" style="overflow: hidden;">
                            <thead>
                                <tr style="background-color: rgb(199, 210, 206);">
                                    <th class="text-center">Sl No.</th>
                                    <th class="text-center">Coupon code</th>
                                    <th class="text-center">Offer Percentage</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody id="ordersContainer">
                                <% for(let i=response.length-1; i>= 0; i--){%>
                                    <%let j=response.length-i%>

                                        <tr>
                                            <td class="text-center">
                                                <%=j%>
                                            </td>
                                            <td class="text-center">
                                                <%=response[i].couponCode%>
                                            </td>
                                            <td class="text-center">
                                                <%=response[i].discountPercentage%>%
                                            </td>
                                            <td class="text-center">
                                                <%=response[i].description%> Upto ₹<%=response[i].maxDiscountAmount%>
                                                        for a purchace <br>
                                                        with minimum amount of ₹<%=response[i].minAmount%> for category
                                                            <%=response[i].category%> <br>
                                                                valid till : <%=response[i].endDate%>
                                            </td>
                                            <td class="text-center">
                                                <%if(response[i].couponStatus){%>

                                                    <a href="#" class="btn btn-sm btn-light font-sm rounded"
                                                        onclick="unlistCoupon(event,'<%=response[i].couponCode%>')">Unlist</a>
                                                    <%}else{%>
                                                        <a href="#"
                                                            class="btn btn-sm btn-light font-sm rounded">Unlisted</a>
                                                        <%}%>
                                            </td>

                                        </tr>
                                        <%}%>

                            </tbody>
                        </table>
                        <div class="pagination-area mt-15 mb-50">
                            <nav aria-label="Page navigation example">
                                <ul id="paginationContainer" class="pagination justify-content-start">
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
        <!-- card .// -->


        <script>
            function unlistCoupon(e, couponCode) {
                e.preventDefault()
                console.log("willDelete2 : ", couponCode);

                $.ajax({
                    url: '/admin/unlistCoupon',
                    type: 'POST',
                    data: {
                        couponCode
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.ok) {
                            window.location.reload()
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        swal({
                            title: "Error!",
                            text: err.responseJSON.error, 
                            icon: "error",
                        });
                    }
                }).catch(function (error) {
                    console.log(error);
                });

            }
        </script>