

<body>
    
        
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Offers List </h2>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Active</option>
                                <option>Inactive</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Sub-category</th>
                                    <th scope="col">Offer-percentage</th>
                                    <th scope="col">offer-expiry</th>
                                    <th scope="col">offer-Status</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(response.length === 0){%>
                                    <tr>
                                        <tdcolspan="8"><h3 class="text-center">No offers added Yet..!</h3></td>
                                    </tr>
                                    <%}%>

                                <%for(let i= response.length-1;i >= 0;i--){%>

                                    <tr>
                                        <td><%=response[i]._id%></td>
                                        <td><%=response[i].gender%></td>
                                        <td><%=response[i].category%></td>
                                        <td><%=response[i].subcategory%></td>
                                        <td><%=response[i].offerPercentage%> %</td>
                                        <td><%=response[i].endDate%></span></td>
                                        <%if(response[i].offerStatus){%>
                                            <td class="text-success">Active</td>
                                            
                                            <%}else{%>
                                                
                                                <td class="text-danger">Inactive</td>
                                        <%}%>
                                        
                                        <td class="text-end">
                                            <%if(!response[i].offerStatus){%>
                                                <a href="#" class="btn btn-md rounded font-sm  btn-secondary" disabled>Unlisted</a>
                                                
                                                <%}else{%>
                                                    
                                                <div class="btn btn-md rounded font-sm" onclick="unlistOffer('<%=JSON.stringify(response[i])%>')">Unlist</div>
                                            <%}%>
                                        </td>
                                    </tr>
                                <%}%>
                                
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
   
   
</body>

<script>
    function unlistOffer(offerDetails){
        offerDetails = JSON.parse(offerDetails)
  console.log("willDelete2 : ",offerDetails);
  $.ajax({
      url: '/admin/unlistOffer',
      type: 'POST',
      data: {
          offfeID: offerDetails._id,
          gender : offerDetails.gender,
          category : offerDetails.category,
          subcategory : offerDetails.subcategory,
          offerStatus : offerDetails.offerStatus,
          offerPercentage : offerDetails.offerPercentage,
          endDate: offerDetails.endDate,

      },
      success: function (response) {
        console.log(response);
        if(response){

            window.location.reload()
        }
          
      }


  });
}
</script>
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>