<body>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select" id="orderStatusId">
                            <option>select order status</option>
                            <option value="pending">Pending</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                            <option value="cancelled">Cancelled</option>
                            <option value="returned">Returned</option>
                            <option value="showall">Show all</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#orderID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">order status</th>
                                <th scope="col">payment status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <tbody id="sortedTable">
                            <% for(let i=0;i < response.orderDetails.length;i++){%>
                                <tr>
                                    <td>
                                        <%=response.orderDetails[i].ordersId %>
                                    </td>
                                    <td><b>
                                            <%=response.orderDetails[i].firstname %>
                                                <%=response.orderDetails[i].lastName %>
                                        </b></td>
                                    <td>
                                        <%=response.orderDetails[i].email %>
                                    </td>
                                    <td>₹<%=response.orderDetails[i].totalPrice %>
                                    </td>
                                    <%if(response.orderDetails[i].orderStatus==='cancelled' ){%>
                                        <td><span class="badge rounded-pill alert-danger text-danger">
                                                <%=response.orderDetails[i].orderStatus %>
                                            </span></td>
                                        <%}else if(response.orderDetails[i].orderStatus==='Delivered' ){%>
                                            <td><span class="badge rounded-pill alert-success text-success">
                                                    <%=response.orderDetails[i].orderStatus %>
                                                </span></td>
                                            <%}else{%>
                                                <td><span class="badge rounded-pill alert-warning">
                                                        <%=response.orderDetails[i].orderStatus %>
                                                    </span></td>
                                                <%}%>
                                                    <td><span class="badge rounded-pill alert-warning">
                                                            <%=response.orderDetails[i].paymentStatus %>
                                                        </span></td>
                                                    <td>
                                                        <%=response.orderDetails[i].createdAt %>
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="/admin/order-proDetails?orderid=<%=response.orderDetails[i].ordersId %>&email=<%=response.orderDetails[i].email %>"
                                                            class="btn btn-md rounded font-sm">View</a>

                                                    </td>
                                </tr>
                                <%} %>
                                    <!-- <tr>
                                    <td>2329</td>
                                    <td><b>Darlene Robertson</b></td>
                                    <td><template class="__cf_email__" data-cfemail="244041564d414a4164415c45495448410a474b49">[email&#160;protected]</template></td>
                                    <td>$948.55</td>
                                    <td><span class="badge rounded-pill alert-success">Received</span></td>
                                    <td>03.07.2020</td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> 
                                    </td>
                                </tr> -->
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start" id="ordersListId">
                    <%for(let i=1;i<=Math.ceil(response.totalOrders/10);i++){%>
                        <li class="page-item" id="pagebtn-<%=i%>"><a class="page-link" href="#"
                                onclick="OrderPagination(event,'<%=i%>','<%=Math.ceil(response.totalOrders/10)%>')">
                                <%=i%>
                            </a></li>
                        <%}%>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script data-cfasync="false"
                    src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>



</body>

<script>
    //orderListPage Ajax


    const orderStatusDown = document.getElementById("orderStatusId")
    const orderStatusOpt = orderStatusDown.options;
    orderStatusDown.addEventListener('change', () => {
        let index = orderStatusOpt.selectedIndex
        let orderStatusLabel = orderStatusOpt[index].value
        console.log("orderStatusLabel : ", orderStatusLabel);
        sortOrderStatus(orderStatusLabel)
    })

    function sortOrderStatus(orderStatus) {
        if (orderStatus === 'showall') {
            window.location.reload()
        } else {

            $.ajax({
                url: '/admin/sortOrderStatus',
                type: 'post',
                data: {
                    orderStatus
                },
                success: function (response) {
                    let sortedOrderStatus = ''
                    for (let i = 0; i < response.length; i++) {
                        let ele = response[i]
                        sortedOrderStatus += `
                <tr>
                                    <td>
                                        ${ele.ordersId}
                                    </td>
                                    <td><b>
                                        ${ele.firstname},
                                        ${ele.lastName}
                                        </b></td>
                                    <td>
                                        ${ele.email}
                                    </td>
                                    <td>₹ ${ele.totalPrice}
                                    </td>`
                        if (ele.orderStatus === 'cancelled') {
                            sortedOrderStatus += ` <td><span class="badge rounded-pill alert-danger text-danger">
                                                    ${ele.orderStatus}
                                            </span></td>`
                        } else if (ele.orderStatus === 'Delivered') {
                            sortedOrderStatus += ` <td><span class="badge rounded-pill alert-success text-success">
                                                        ${ele.orderStatus}
                                                </span></td>`
                        } else {
                            sortedOrderStatus += `<td><span class="badge rounded-pill alert-warning">
                                                        ${ele.orderStatus}
                                                    </span></td>`
                        }
                        sortedOrderStatus += `<td><span class="badge rounded-pill alert-warning">
                                                    ${ele.paymentStatus}
                                                        </span></td>
                                                    <td>
                                                        ${ele.createdAt}
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="/admin/order-proDetails?orderid= ${ele.ordersId}&email=${ele.email}"
                                                            class="btn btn-md rounded font-sm">View</a>

                                                    </td>
                                </tr>`
                    }

                    $('#sortedTable').html(sortedOrderStatus)

                },
                error: function (err) {
                    console.log(err);
                    if (err.responseJSON.err1) {
                        swal({
                            title: err.responseJSON.err1,
                            icon: "warning",
                        });
                    }
                }
            });
        }
    }
</script>

<script>

    function OrderPagination(e, pageNo, totalPage) {
        e.preventDefault()
        console.log(pageNo);
        $.ajax({
            url: '/admin/orders',
            type: 'get',
            data: {
                pageNo
            },
            success: function (response) {
                console.log("response : ", response);
                for (let i = 1; i <= parseInt(totalPage); i++) {
                    let itemElement = document.getElementById('pagebtn-' + String(i))
                    itemElement.classList.remove('active');
                }
                let itemElement = document.getElementById('pagebtn-' + pageNo)
                itemElement.classList.add('active');

                let orderListdiv = ''

                for (let i = 0; i < response.orderDetails.length; i++) {
                    const ele = response.orderDetails[i];
                    orderListdiv += `
                <tr>
                                    <td>
                                        ${ele.ordersId}
                                    </td>
                                    <td><b>
                                        ${ele.firstname},
                                        ${ele.lastName}
                                        </b></td>
                                    <td>
                                        ${ele.email}
                                    </td>
                                    <td>₹ ${ele.totalPrice}
                                    </td>`
                    if (ele.orderStatus === 'cancelled') {
                        orderListdiv += ` <td><span class="badge rounded-pill alert-danger text-danger">
                                                    ${ele.orderStatus}
                                            </span></td>`
                    } else if (ele.orderStatus === 'Delivered') {
                        orderListdiv += ` <td><span class="badge rounded-pill alert-success text-success">
                                                        ${ele.orderStatus}
                                                </span></td>`
                    } else {
                        orderListdiv += `<td><span class="badge rounded-pill alert-warning">
                                                        ${ele.orderStatus}
                                                    </span></td>`
                    }
                    orderListdiv += `<td><span class="badge rounded-pill alert-warning">
                                                    ${ele.paymentStatus}
                                                        </span></td>
                                                    <td>
                                                        ${ele.createdAt}
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="/admin/order-proDetails?orderid=${ele.ordersId}&email=${ele.email}"
                                                            class="btn btn-md rounded font-sm">View</a>

                                                    </td>
                                </tr>`
                }

                $('#sortedTable').html(orderListdiv)
            }

        })
    }

</script>