
<body>

    <% for(let i=0;i < response.length;i++){%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%=response[i].orderId %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%=response[i].createdAt %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: </small>
                            <small class="text-muted" id="orderId"><%=response[i].orderId %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end" id="statusContainer">
                            <% if(response[i].orderStatus === "cancelled"){%>
                                <p class="badge rounded-pill alert-danger text-danger"> <%=response[i].orderStatus %></p><br>
                                <p>cancellation reason : <%=response[i].cancellationReason%> </p>
                              <%}else if(response[i].orderStatus === "Delivered" || response[i].orderStatus === "returned"){%>

                                <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200 bg-secondary-light" id="orderStatusDropdown">
                                    <option><%=response[i].orderStatus%></option>
                                </select>
                            <%}else{%>

                                <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200 bg-secondary-light" id="orderStatusDropdown">
                                    <option>select order status</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="cancelled">Cancel</option>
                                </select>
                            <%} %>
                            
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%=response[i].firstname %> <%=response[i].lastname %> <br> 
                                        <%=response[i].email %> <br> 
                                        <%=response[i].mobile %> <br>
                                    </p>
                                    <small class="text-muted">Customer ID: </small>
                                    <small class="text-muted" id="custUserID"><%=response[i].userId%></small>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                        
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        address : <%=response[i].shippingAddress.addressLine %>, <%=response[i].shippingAddress.city %> <br>(near)<%=response[i].shippingAddress.landmark %>, <%=response[i].shippingAddress.state %>, <%=response[i].shippingAddress.pincode %> <br> (alt-PH)<%=response[i].shippingAddress.altPhone %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let j=0;j < response[i].products.length;j++){%>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/uploads/<%=response[i].products[j].Image[0] %>" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"> <%=response[i].products[j].sub_catagory %> <%=response[i].products[j].color %>, <%=response[i].products[j].size %> size </div>
                                                </a>
                                            </td>
                                            <td> ₹ <%=response[i].products[j].product_unitPrice %></td>
                                            <td> <%=response[i].products[j].product_quantity %> </td>
                                            <td class="text-end"> ₹<%=response[i].products[j].product_subTotal %> </td>
                                        </tr>
                                        <%} %>
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹<%=response[i].totalPrice %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>₹0.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹<%=response[i].totalPrice %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist" id="orderStatusId">
                                                        <dt class="text-muted">Order Status:</dt>
                                                        <dd>
                                                            <% if(response[i].orderStatus === "cancelled"){%>
                                                                <span class="badge rounded-pill alert-danger text-danger"><%=response[i].orderStatus %></span>
                                                              <%}else{%>
                                                                <span class="badge rounded-pill alert-success text-success"><%=response[i].orderStatus %></span>
                                                            <%} %>
                                                            
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <!-- <p>
                                    <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p> -->
                                <dl class="dlist">
                                    <dt>payment method :</dt>
                                    <dd> <b class="h5"><%=response[i].paymentMethod %></b> </dd>
                                </dl>
                                <dl class="dlist">
                                    <dt>Payment Status :</dt>
                                    <dd>
                                        <span class="badge rounded-pill alert-success text-success"><%=response[i].paymentStatus %></span>
                                    </dd>
                                </dl>
                            </div>
                            
                        </div> <!-- col// -->
                        <% if(response[i].orderStatus === "cancelled"){%>
                            <p class="text-danger">cancellation reason : <%=response[i].cancellationReason %></p>
                        <%}%>
                        
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        
        <%} %>

       
        <script src="/admin-assets/js/OrderPageAjax.js"></script>
   
</body>


