<script src="/assets/js/ajaxCartQuantity.js"></script>



<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">


                    <% if(count===null){%>
                        <div class="text-center">
                            <p style="font-size: xx-large; margin-bottom: 3em;">Cart is empty</p>
                        </div>

                        <%}else {%>
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center clean" id="Mytable">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=0;i < count;i++){%>

                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="/uploads/<%= cart.product[i].product_id.Image[0]%>"
                                                        alt="#">
                                                </td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                            <%=cart.product[i].product_id.product_name %>
                                                        </a></h5>
                                                    <p class="font-xs">
                                                        <%=cart.product[i].product_id.description %>
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price">
                                                    <%if(cart.product[i].product_id.discountPrice){%>
                                                        <p id="<%=cart.product[i].product_id.price %>">
                                                            ₹<%=cart.product[i].product_id.discountPrice %>
                                                        </p>
                                                        <%}else{%>

                                                            <p id="<%=cart.product[i].product_id.price %>">
                                                                ₹<%=cart.product[i].product_id.price %>
                                                            </p>
                                                            <%}%>
                                                </td>
                                                <td class="text-center" data-title="Stock">

                                                    <div class="d-flex">
                                                        <%if(cart.product[i].product_id.discountPrice){%>
                                                            <button
                                                                onclick="cartquantitydown('<%=cart.product[i].product_id._id%>',' <%=cart.product[i].product_id.discountPrice %> ','<%=cart.product[i].product_id.product_name %>','<%=cart.product[i].product_id.product_details[0].quantity %>')"
                                                                style="border: 0;height: 2em; width: 2em;"> - </button>
                                                            <%}else{%>

                                                                <button
                                                                    onclick="cartquantitydown('<%=cart.product[i].product_id._id%>',' <%=cart.product[i].product_id.price %> ','<%=cart.product[i].product_id.product_name %>','<%=cart.product[i].product_id.product_details[0].quantity %>')"
                                                                    style="border: 0;height: 2em; width: 2em;"> -
                                                                </button>
                                                                <%}%>

                                                                    <p id="<%=cart.product[i].product_id._id%>"
                                                                        class="mx-2">
                                                                        <%=cart.product[i].quantity %>
                                                                    </p>
                                                                    <%if(cart.product[i].product_id.discountPrice){%>
                                                                        <button
                                                                            id="<%=cart.product[i].product_id.product_details[0].quantity %>"
                                                                            onclick="cartquantityplus('<%=cart.product[i].product_id._id%>',' <%=cart.product[i].product_id.discountPrice %> ','<%=cart.product[i].product_id.product_name %>','<%=cart.product[i].product_id.product_details[0].quantity %>')"
                                                                            style="border: 0;height: 2em; width: 2em;">
                                                                            + </button>
                                                                        <%}else{%>

                                                                            <button
                                                                                id="<%=cart.product[i].product_id.product_details[0].quantity %>"
                                                                                onclick="cartquantityplus('<%=cart.product[i].product_id._id%>',' <%=cart.product[i].product_id.price %> ','<%=cart.product[i].product_id.product_name %>','<%=cart.product[i].product_id.product_details[0].quantity %>')"
                                                                                style="border: 0;height: 2em; width: 2em;">
                                                                                + </button>
                                                                            <%}%>

                                                    </div>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <span id="<%=cart.product[i].product_id.product_name %>">
                                                        ₹<%=cart.product[i].sub_total %>
                                                    </span>
                                                </td>
                                                <td class="action" data-title="Remove"><a href="#" class="text-muted"><i
                                                            class="fi-rs-trash" id="delete"
                                                            onclick="deleteProduct('<%=cart.product[i].product_id._id%>')"></i></a>
                                                </td>
                                            </tr>

                                            <%} %>
                                                <%} %>





                                                    <% if(count!=null){%>
                                                        <tr>
                                                            <td colspan="6" class="text-end">
                                                                <a href="#" class="text-muted"> <i
                                                                        class="fi-rs-cross-small"></i> Clear Cart</a>
                                                            </td>
                                                        </tr>

                                                        <%} %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-action text-end">
                                <a href="/cart" class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update
                                    Cart</a>
                                <a href="/shop" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                    Shopping</a>
                            </div>
                            <div class="divider center_icon mt-50 mb-50"></div>
                            <div class="row mb-50">
                                <div class="col-lg-6 col-md-12">
                        <% if(count!=null){%>
                                    <div class="mb-30 mt-50">
                                        <div class="heading_s1 mb-3">
                                            <h4>Apply Coupon</h4>
                                        </div>
                                        <div>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#available-coupons"
                                                data-bs-whatever="@mdo" id="couponButton" onclick="availableCoupon()"><i
                                                    class="bi bi-view-list"></i>
                                                Available coupons</a>
                                        </div>



                                        <!-- coupon-show-modal-start -->
                                        <div class="modal fade" id="available-coupons" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"
                                                            style="color: #088178;">
                                                            Available coupons</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div>
                                                        <div>

                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <ul id="coupenInnerHtmlId">

                                                                    </ul>
                                                                </div>
                                                            </div> <!-- card end// -->

                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- coupon-show-modal-End -->



                                        <div class="total-amount">
                                            <div class="left">
                                                <div class="coupon">
                                                    <form action="#" target="_blank">
                                                        <div class="form-row justify-content-center">
                                                            <div class="form-group col-lg-6" style="margin-bottom: -1rem;">
                                                                <%if(cart.couponDiscount !== 0){%>
                                                                    <td class="cart_total_amount" >
                                                                        <input class="font-medium" name="Coupon"
                                                                    value="<%=cart.couponCode%>" id="coupenfeildId">
                                                                        </td>
                                                                    
                                                                    <%}else{%>
                                                                        <td class="cart_total_amount">
                                                                            <input class="font-medium" name="Coupon"
                                                                        placeholder="Enter Your Coupon" value="" id="coupenfeildId">
                                                                            </td>
                                                                        <%}%>
                                                                

                                                                        <div style="position: relative;
                                                                    left: 20em;
                                                                    bottom: 2rem;" onclick="removeCoupon()"><i class="bi bi-x-circle"></i></div>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <span class="" id="couponStatus"></span>
                                                                
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                    <div class="col-lg-6 col-md-12">
                                        <div class="border p-md-4 p-30 border-radius cart-totals">
                                            <div class="heading_s1 mb-3">
                                                <h4>Cart Totals</h4>
                                            </div>
                                            <!-- <%=total =0 %>
                                      
                                            <% for (let i=0;i < count;i++) { %>
                                              <%=cart.product[i].sub_total %>
                                              <% total += cart.product[i].sub_total %>
                                            <% } %> -->


                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="cart_total_label">Cart Subtotal</td>
                                                            <%if(cart.couponDiscount!==0){%>
                                                            <td class="cart_total_amount"><span
                                                                    class="font-lg fw-900 text-brand" id="subtotal">
                                                                     <%= grand_Total+cart.couponDiscount%> </span>
                                                            </td>
                                                            <%}else{%>
                                                                <td class="cart_total_amount"><span
                                                                    class="font-lg fw-900 text-brand" id="subtotal">
                                                                     <%= grand_Total %> </span>
                                                            </td>

                                                                <%}%>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Coupon discount</td>
                                                            <%if(cart.couponDiscount!==0){%>
                                                                <td class="cart_total_amount" id="discountAmount">
                                                                    ₹ <%=cart.couponDiscount %>
                                                                    </td>
                                                                
                                                                <%}else{%>
                                                                    <td class="cart_total_amount" id="discountAmount">
                                                                        ₹ 0.00
                                                                        </td>
                                                                    <%}%>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Total</td>
                                                            <td class="cart_total_amount"><strong><span
                                                                        class="font-xl fw-900 text-brand"
                                                                        id="subtotal2">
                                                                        ₹ <%= grand_Total %>
                                                                    </span></strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                            <a href="/CheckOut" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                                                Proceed To
                                                CheckOut</a>

                                        </div>
                                    </div>
                                    <%} %>
                            </div>
                </div>
            </div>
        </div>
    </section>
</main>



<script>
    function availableCoupon() {
        $.ajax({
            url: '/availableCoupen',
            type: 'get',
            data: {
            },
            success: function (response) {
                console.log(response);
                let coupons = ''
                for (let i = 0; i < response.length; i++) {
                    const ele = response[i];
                    coupons += `
        <li>
            <h4><a href=""  onclick="copyCouponCode(event,'${ele.couponCode}','${ele.maxDiscountAmount}','${ele.discountPercentage}')">${ele.couponCode}</a></h4>
               
                <p>${ele.discountPercentage}% discount with a maximum cashback Upto ${ele.maxDiscountAmount}</p>
                <p>${ele.description} for a minimum purchace of ₹${ele.minAmount}</p>
                <p>Valid till: ${ele.endDate}</p>
        </li>
        <hr>

        `
                };
                $('#coupenInnerHtmlId').html(coupons)
            }
        });
    }

    function copyCouponCode(e, coupenCode,maxDiscountAmount,discountPercentage) {
        e.preventDefault()
        console.log(coupenCode);
        $('#available-coupons').modal('hide');
        let input = document.getElementById("coupenfeildId")
        input.value = coupenCode;
        maxDiscountAmount = parseInt(maxDiscountAmount)
        discountPercentage = parseInt(discountPercentage)

        let grandTotal = document.getElementById("subtotal").innerHTML
        grandTotal = parseInt(grandTotal)

        let discountAmount = Math.floor((grandTotal/discountPercentage))
        if(discountAmount > maxDiscountAmount){
            discountAmount = maxDiscountAmount
        }
        grandTotal = grandTotal-discountAmount

        $.ajax({
            url: '/availableCoupen',
            type: 'post',
            data: {
                grandTotal,
                discountAmount,
                coupenCode
            },
            success: function (response) {
                console.log("availableCoupen post : ",response);
                if(response.ok){
                    
                    itemElement = document.getElementById("couponStatus")
                    itemElement.classList.add('text-success');
                    itemElement.innerHTML = 'Coupon applied..!'
                    setTimeout(function(){document.getElementById('couponStatus').innerHTML = ''},3000)
                    document.getElementById("discountAmount").innerHTML = '₹'+String(discountAmount)
                    document.getElementById("subtotal2").innerHTML = '₹'+String(grandTotal)
                }else if(response.exist){
                    itemElement = document.getElementById("couponStatus")
                    itemElement.classList.remove('text-success');
                    itemElement.classList.add('text-danger');
                    itemElement.innerHTML = 'Coupon already used..!'
                    setTimeout(function(){document.getElementById('couponStatus').innerHTML = ''},3000)
                }
              
            }
        });


    }

    function removeCoupon(){
        let coupon = document.getElementById("coupenfeildId").value
        console.log(coupon);
        $.ajax({
            url: '/removeCoupen',
            type: 'post',
            data: {
                coupon
            },
            success: function (response) {
                console.log(response);
                if(response.ok){

                    document.getElementById("discountAmount").innerHTML = '₹0.00'
                    document.getElementById("subtotal2").innerHTML = '₹'+document.getElementById("subtotal").innerHTML
                    document.getElementById("coupenfeildId").value = ''
                    itemElement = document.getElementById("couponStatus")
                    itemElement.classList.remove('text-success');
                    itemElement.classList.add('text-danger');
                    itemElement.innerHTML = 'Coupon removed..!'
                    setTimeout(function(){document.getElementById('couponStatus').innerHTML = ''},3000)
                }
              
            }
        });
    }

</script>