<section>


  <!-- main calss row flex -->

  <main class="main">
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="shop-product-fillter" style="margin: 0;height: 6em;">
              <div class="totall-product" style="height: 1em;">
                <p id="noOfProducts"></p>
              </div>
              <div class="sort-by-product-area" style="height: 6em;">
                <!-- newlyaddedfeild-start -->
                <div class="categori-dropdown-wrap  d-lg-block" style="margin-bottom: 5em;">
                  <ul>
                    <li class="has-children ">
                      <div class="filterDownNew" style="width: 12em;"><i class="fi-rs-apps-sort"></i>Sort by: <span>
                        <i class="fi-rs-angle-small-down"></i></span></div>
                      <div class="dropdown-menu" style="min-width: fit-content;
                            top: 100%;
                            left: 0;
                            z-index: 99;
                            right: 0;
                            background: #fff;
                            border: 0;
                            border-radius: 5px;
                            -webkit-box-shadow: 0 -3px 23px rgba(0, 0, 0, 0.06);
                            box-shadow: 0 -3px 23px rgba(0, 0, 0, 0.06);
                            color: #4f5d77;
                            font-weight: 500;
                            cursor: pointer;">
                        <ul id="sortProductsDropdown">
                          <li class="text-center" id="featured" onclick="allProductSort('featured')">Featured</li>
                          <li class="text-center" id="popular" onclick="allProductSort('popular')">Popular</li>
                          <li class="text-center" id="newlyAdded" onclick="allProductSort('newlyAdded')">Newly added</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- newlyaddedfeild-end -->
              </div>
            </div>
            <div class="row product-grid-3" id="productFilterPageId">
              <%if(response !== null){%>

              <!-- firstcard -->

              <% response.product.forEach(function(item,index) { %>

                <%if (item.product_status==true){%>

                  <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap mb-30">
                      <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                          <a href="/product-details/<%= item._id %>">
                            <img class="default-img" src="uploads/<%= item.Image[0] %>" alt="" />
                            <img class="hover-img" src="uploads/<%= item.Image[3] %>" alt="" />
                          </a>
                        </div>
                        <div class="product-action-1">
                          <% if(locals.headerStatus) {%>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""
                              onclick="addWishlist(event,'<%= item._id %>')"><i class="fi-rs-heart"></i></a>

                            <%} else {%>
                              <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""
                                onclick="addWishlist2(event)"><i class="fi-rs-heart"></i></a>
                              <%} %>


                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg" style="z-index: 100;">
                          <span class="hot">Hot</span>
                        </div>
                      </div>
                      <div class="product-content-wrap">
                        <div class="product-category">
                          <a href="shop-grid-right.html">
                            <%= item.catagory %>
                          </a>
                        </div>
                        <h2>
                          <a href="shop-product-right.html">
                            <%= item.product_name%>
                          </a>
                        </h2>
                        <div class="rating-result" title="90%">
                          <span>
                            <span>90%</span>
                          </span>
                        </div>
                        <%if(item.discountPrice){%>
                          <div class="product-price">
                            <span>
                              ₹<%= item.discountPrice%>
                            </span>
                            <span class="old-price">₹<%= item.price%></span>
                          </div>
                          <%}else{%>
                            <div class="product-price">
                              <span>
                                ₹<%= item.price%>
                              </span>
                              <span class="old-price">₹1999.00</span>
                            </div>
                            <%}%>
                              <div class="product-action-1 show">
                                <% if(locals.headerStatus) {%>
                                  <%if(item.product_details[0].quantity !==0){%>

                                    <%if(item.discountPrice){%>
                                      <div aria-label="Add To Cart" class="action-btn hover-up"><i
                                          class="fi-rs-shopping-bag-add"
                                          onclick="addTocart('<%= item._id %>','<%= item.discountPrice%>')"></i></div>
                                      <%}else{%>
                                        <div aria-label="Add To Cart" class="action-btn hover-up"><i
                                            class="fi-rs-shopping-bag-add"
                                            onclick="addTocart('<%= item._id %>','<%= item.price%>')"></i></div>
                                        <%}%>

                                          <%}%>
                                            <%} else {%>
                                              <div aria-label="Add To Cart" class="action-btn hover-up"
                                                style="z-index: 100;"><i class="fi-rs-shopping-bag-add"
                                                  onclick="addTocart2()"></i></div>
                                              <%} %>

                              </div>
                      </div>
                    </div>
                  </div>
                  <%}%>

                    <% }) %>

            </div>
            <!--pagination-->
            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start" id="productFilterpaginationId">
                  <%for(let i=1;i<=Math.ceil(response.productCount/6);i++){%>
                    <li class="page-item" id="pagebtn-<%=i%>"><a class="page-link" href="#"
                        onclick="productPagination(event,'<%=i%>','<%=Math.ceil(response.productCount/6)%>')">
                        <%=i%>
                      </a></li>
                    <%}%>
                </ul>
              </nav>
            </div>
           
          </div>
          <div class="col-lg-3 primary-sidebar sticky-sidebar">

            <div class="categori-dropdown-wrap d-sm-none d-lg-block" style="margin-bottom: 5em;">
              <ul>
                <li class="has-children ">
                  <a href=""><i class="evara-font-dress" id="Women"></i>Women's Clothing</a>
                  <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
                      <li class="mega-menu-col col-lg-7">
                        <ul class="d-lg-flex">
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="WTopwear">Topwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Women.Topwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Women.Topwear[i]%>"
                                    onclick="subCatFilter('Women','Topwear','<%=response.category.category.Women.Topwear[i]%>','allproducts')">
                                    <%=response.category.category.Women.Topwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="WBottomwear">Bottomwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Women.Bottomwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Women.Bottomwear[i]%>"
                                    onclick="subCatFilter('Women','Bottomwear','<%=response.category.category.Women.Bottomwear[i]%>','allproducts')">
                                    <%=response.category.category.Women.Bottomwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="WFootwear">Footwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Women.Footwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Women.Footwear[i]%>"
                                    onclick="subCatFilter('Women','Footwear','<%=response.category.category.Women.Footwear[i]%>','allproducts')">
                                    <%=response.category.category.Women.Footwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                        </ul>
                      </li>

                    </ul>
                  </div>
                </li>
                <li class="has-children">
                  <a href=""><i class="evara-font-tshirt" id="Men"></i>Men's Clothing</a>
                  <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
                      <li class="mega-menu-col col-lg-7">
                        <ul class="d-lg-flex">
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="MTopwear">Topwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Men.Topwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Men.Topwear[i]%>"
                                    onclick="subCatFilter('Men','Topwear','<%=response.category.category.Men.Topwear[i]%>','allproducts')">
                                    <%=response.category.category.Men.Topwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="MBottomwear">Bottomwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Men.Bottomwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Men.Bottomwear[i]%>"
                                    onclick="subCatFilter('Men','Bottomwear','<%=response.category.category.Men.Bottomwear[i]%>','allproducts')">
                                    <%=response.category.category.Men.Bottomwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="MFootwear">Footwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Men.Footwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Men.Footwear[i]%>"
                                    onclick="subCatFilter('Men','Footwear','<%=response.category.category.Men.Footwear[i]%>','allproducts')">
                                    <%=response.category.category.Men.Footwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                        </ul>
                      </li>

                    </ul>
                  </div>
                </li>
                <li class="has-children">
                  <a href=""><i class="evara-font-tshirt"></i>Kids's Clothing</a>
                  <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
                      <li class="mega-menu-col col-lg-7">
                        <ul class="d-lg-flex">
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="KTopwear">Topwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Kids.Topwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Kids.Topwear[i]%>"
                                    onclick="subCatFilter('Kids','Topwear','<%=response.category.category.Kids.Topwear[i]%>','allproducts')">
                                    <%=response.category.category.Kids.Topwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="KBottomwear">Bottomwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Kids.Bottomwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Kids.Bottomwear[i]%>"
                                    onclick="subCatFilter('Kids','Bottomwear','<%=response.category.category.Kids.Bottomwear[i]%>','allproducts')">
                                    <%=response.category.category.Kids.Bottomwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                          <li class="mega-menu-col col-lg-6">
                            <ul>
                              <li>
                                <div class="submenu-title" id="KFootwear">Footwear</div>
                              </li>
                              <% for(let i=0;i < response.category.category.Kids.Footwear.length;i++){%>
                                <li class="ms-4">
                                  <div class="dropdown-item nav-link nav_item text-right"
                                    id="<%=response.category.category.Kids.Footwear[i]%>"
                                    onclick="subCatFilter('Kids','Footwear','<%=response.category.category.Kids.Footwear[i]%>','allproducts')">
                                    <%=response.category.category.Kids.Footwear[i]%>
                                  </div>
                                </li>
                                <% } %>
                            </ul>
                          </li>
                        </ul>
                      </li>

                    </ul>
                  </div>
                </li>

            </div>
            <!-- </div> -->
            <!-- Fillter By Price -->

            <!-- Product sidebar Widget -->
            <%}else{%>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    
                    
                   <div class="text-center"><h3>NO PRODUCTS ADDED YET ..!</h3></div>
                  
                 

                          
                  </div>
                </div>
              </div>
              
              <%}%>

          </div>
        </div>
      </div>
    </section>
  </main>
  
</section>
<script>
  function subCatFilter(gender = null, category = null, subcategory = null, sortType,pageNo) {

    console.log("subCatFilter function invoke : ", gender, category, subcategory, sortType);

    $.ajax({
      url: '/subCatFilter',
      type: 'post',
      data: {
        gender,
        category,
        subcategory,
        sortType,
        pageNo
      },
      success: function (response) {
        console.log("subCatFilter function invoke2 : ", gender, category, subcategory, sortType);
        console.log("response1: ", response);
        document.getElementById("noOfProducts").innerHTML = `We found <strong class="text-brand" > ${response.length}</strong> items for
              you!`
        if (gender !== null && category !== null && subcategory !== null) {
          document.getElementById("sortProductsDropdown").innerHTML = `
                        <li onclick="priceSort('${response[0].gender}','${response[0].catagory}','${response[0].sub_catagory}','low')">Price: Low to High</li>
                        <li onclick="priceSort('${response[0].gender}','${response[0].catagory}','${response[0].sub_catagory}','high')">Price: High to Low</li> `
        }
        let productFilterPage = ''
        let productFilterPagination=''
        for (let i = 0; i < response.length; i++) {
          const ele = response[i];
          let productPrice
          if (ele.discountPrice) {
            productPrice = ele.discountPrice
          } else {
            productPrice = ele.price
          }
          productFilterPage += `
    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/product-details/${ele._id}">
                        <img class="default-img" src="/uploads/${ele.Image[0]}" alt="" />
                        <img class="hover-img" src="/uploads/${ele.Image[3]}" alt="" />
                      </a>
                    </div>
                    <div class="product-action-1">
                      
                      <% if(locals.headerStatus) {%>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="" onclick="addWishlist(event,'${ele._id}')"><i
                              class="fi-rs-heart"></i></a>

                            <%} else {%>
                              <a aria-label="Add To Wishlist" class="action-btn hover-up" href="" onclick="addWishlist2(event)"><i
                                class="fi-rs-heart"></i></a>
                              <%} %>
                      
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg" style="z-index: 100;">
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">
                        ${ele.catagory}
                      </a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">
                        ${ele.product_name}
                      </a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>`
          if (ele.discountPrice) {
            productFilterPage += ` <div class="product-price">
                                <span>
                                  ₹<%='${ele.discountPrice}'%>
                                </span>
                                <span class="old-price">₹<%='${ele.price}'%></span>
                              </div>`
          } else {
            productFilterPage += `<div class="product-price">
                              <span>
                                ₹<%='${ele.price}'%>
                              </span>
                              <span class="old-price">₹1999.00</span>
                            </div>`
          }



          productFilterPage += `<div class="product-action-1 show">
                      <% if(locals.headerStatus) {%>`

          if (ele.discountPrice) {
            productFilterPage += ` 
                  <div aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"
                            onclick="addTocart('${ele._id}','${ele.discountPrice}')"></i></div>`
          } else {
            productFilterPage += ` 
                  <div aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"
                            onclick="addTocart('${ele._id}','${ele.price}')"></i></div>`
          }



          productFilterPage += `  <%} else {%>
                          <div aria-label="Add To Cart" class="action-btn hover-up" style="z-index: 100;"><i
                              class="fi-rs-shopping-bag-add" onclick="addTocart2()"></i></div>
                          <%} %>

                    </div>
                  </div>
                </div>
              </div>
 `
        };
        $('#productFilterPageId').html(productFilterPage)

        for(let i=1;i<=Math.ceil(response.length/6);i++){
          productFilterPagination += `<li class="page-item" id="pagebtn-${i}"><a class="page-link" href="#"
                        onclick="productPagination(event,'${i}','${Math.ceil(response.productCount/6)}')">
                        ${i}
                      </a></li>`
                    }
          $('#productFilterpaginationId').html(productFilterPagination)
      }
    })
  }

  function priceSort(gender, category, sub_category, sortType) {
    console.log("gender,category,sub_category,sortType : ", gender, category, sub_category, sortType);
    subCatFilter(gender, category, sub_category, sortType)
  }

  function allProductSort(sortCondition) {
    document.getElementById('featured').classList.remove('bg-primary');
    document.getElementById('popular').classList.remove('bg-primary');
    document.getElementById('newlyAdded').classList.remove('bg-primary');

    let itemElement = document.getElementById(sortCondition)
        itemElement.classList.add('bg-primary');

    subCatFilter(null, null, null, sortCondition)
  }

  function addTocart2() {
    swal({
      title: "Please login to Continue!",
      button: "OK",
    });
  }




</script>

<script>

  function productPagination(e, pageNo, totalPage) {
    e.preventDefault()
    console.log(pageNo);
    $.ajax({
      url: '/shop',
      type: 'get',
      data: {
        pageNo
      },
      success: function (response) {
        console.log("response : ", response);
        for (let i = 1; i <= parseInt(totalPage); i++) {
          let itemElement = document.getElementById('pagebtn-' + String(i))
          itemElement.classList.remove('active');
        }
        let itemElement = document.getElementById('pagebtn-' + pageNo)
        itemElement.classList.add('active');

        let productListdiv = ''

        for (let i = 0; i < response.product.length; i++) {
          const ele = response.product[i];
          let productPrice
          if (ele.discountPrice) {
            productPrice = ele.discountPrice
          } else {
            productPrice = ele.price
          }
          productListdiv += `
    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/product-details/${ele._id}">
                        <img class="default-img" src="/uploads/${ele.Image[0]}" alt="" />
                        <img class="hover-img" src="/uploads/${ele.Image[3]}" alt="" />
                      </a>
                    </div>
                    <div class="product-action-1">
                      
                      <% if(locals.headerStatus) {%>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="" onclick="addWishlist(event,'${ele._id}')"><i
                              class="fi-rs-heart"></i></a>

                            <%} else {%>
                              <a aria-label="Add To Wishlist" class="action-btn hover-up" href="" onclick="addWishlist2(event)"><i
                                class="fi-rs-heart"></i></a>
                              <%} %>
                      
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg" style="z-index: 100;">
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">
                        ${ele.catagory}
                      </a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">
                        ${ele.product_name}
                      </a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>`
          if (ele.discountPrice) {
            productListdiv += ` <div class="product-price">
                                <span>
                                  ₹<%='${ele.discountPrice}'%>
                                </span>
                                <span class="old-price">₹<%='${ele.price}'%></span>
                              </div>`
          } else {
            productListdiv += `<div class="product-price">
                              <span>
                                ₹<%='${ele.price}'%>
                              </span>
                              <span class="old-price">₹1999.00</span>
                            </div>`
          }



          productListdiv += `<div class="product-action-1 show">
                      <% if(locals.headerStatus) {%>`

          if (ele.discountPrice) {
            productListdiv += ` 
                  <div aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"
                            onclick="addTocart('${ele._id}','${ele.discountPrice}')"></i></div>`
          } else {
            productListdiv += ` 
                  <div aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"
                            onclick="addTocart('${ele._id}','${ele.price}')"></i></div>`
          }



          productListdiv += `  <%} else {%>
                          <div aria-label="Add To Cart" class="action-btn hover-up" style="z-index: 100;"><i
                              class="fi-rs-shopping-bag-add" onclick="addTocart2()"></i></div>
                          <%} %>

                    </div>
                  </div>
                </div>
              </div>
 `
        };
        $('#productFilterPageId').html(productListdiv)
      }

    })
  }

</script>


<style>
  .filterDownNew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #e8edf2;
    border: 1px solid #c6cfd8;
    color: #777;
    padding: 9px 16px;
    border-radius: 26px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    border: 1px solid #e2e9e1;
  }
</style>
<!-- Vendor JS-->

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->