

<body>
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-50 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <!-- <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Hello,<br><h4 class="text-white"><%=user%>!</h4></a>
                                        </li> -->
                                        <li style="border: 1px;" class="mb-2">
                                            <div class=" d-flex" style="background-color: #96a1a1;"> 
                                                <div>
                                                    <img class="m-2" src="	https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/profile-pic-male_4811a1.svg">
                                                </div> 
                                                    <div style="margin: 1em;">
                                                        <h4 class="text-white">Hello,<br><%=user%>!</h4>
                                                    </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link "  id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true" onclick="viewAddress()"><i class="fi-rs-marker mr-10"></i>Manage Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="myWallet-tab" data-bs-toggle="tab" href="#myWallet" role="tab" aria-controls="myWallet" aria-selected="true" onclick="viewWallet()" ><i class="fi-rs-marker mr-10"></i>My Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account settings</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <!-- <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <%=user%>! </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="tab-content dashboard-content">
                                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Orders</th>
                                                                <th>Date</th>
                                                                <th>order Status</th>
                                                                <th>payment Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="ordersListId">
                                                            <% for(let i=0;i < response.length;i++){%>
                                                            <tr>
                                                                <td>order-id: <%=response[i]._id%></td>
                                                                <td><% function toDate(date) { %>
                                                                    <% 
                                                                    let dateString = String(date)
                                                                    let orderDate = dateString.split("GMT+0530 (India Standard Time)")
                                                                    return orderDate[0]
                                                                     %>
                                                                  <% } %>
                                                                  
                                                                  <%= toDate(response[i].createdAt) %></td>
                                                                <td><%=response[i].orderStatus%></td>
                                                                <td><%=response[i].paymentStatus%></td>
                                                                <td>₹<%=response[i].totalPrice%></td>
                                                                <td>
                                                                    <a href="/orders?orderId=<%=response[i]._id%>"><button  class="btn btn-small">view</button></a>
                                                                   
                                                                </td>
                                                            </tr>
                                                            <%} %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="pagination-area mt-15 mb-50">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-start">
                                                            <%for(let i=1;i<=Math.ceil(length/10);i++){%>
                                                                <li class="page-item" id="pagebtn-<%=i%>"><a class="page-link" href="#"
                                                                        onclick="OrderPagination(event,'<%=i%>','<%=Math.ceil(length/10)%>')">
                                                                        <%=i%>
                                                                    </a></li>
                                                                <%}%>
                                                                    <!-- <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                                                <li class="page-item"><a class="page-link" href="#">16</a></li> -->
                                                                    <li class="page-item"><a class="page-link" href="#"><i
                                                                                class="material-icons md-chevron_right"></i></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                   
                                    <div class="tab-pane fade " id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="text-center">

                                            <button type="button" class="btn btn-small btn-rounded mb-4 ms-4" data-toggle="modal"
                                                data-target="#modalContactForm">Add New Address</button>
                                        </div>
                                        <div class="container" >
                                            <div class="col-12">
                                                <div class="" id="address1">
                                                
                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
     <!-- account-settings -->
                                    <div class="tab-pane fade active show" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Change Password</h5>
                                            </div>
                                            <div class="card-body">
                                                <form id="passwordForm" name="enq">
                                                    <div class="row">
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="password" type="password" id="oldpassword">
                                                            <span class="text-danger" id="oldpassword-error"></span>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="npassword" id="npassword" type="password" onkeypress="checkPassword()">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="cpassword" id="cpassword" type="password">
                                                            <span class="text-danger" id="cpassword-error"></span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button class="btn btn-fill-out submit" id="passwordSubmit" onclick="confirmPassword(event)" >Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- My-wallet -->
                                    
                                        <div class="tab-pane fade" id="myWallet" role="tabpanel" aria-labelledby="myWallet-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h2 class="mb-20" style="font-family: 'Lato'; color: #181818;font-weight: 600;line-height: 1.2 ;">
                                                    My wallet</h2>
                                                <h4 style="font-family: 'Lato';color: #595959;font-weight: 600;line-height: 1.2 ;" id="walletTotal">
                                                    Available Balance :₹0.00</h4>
                                            </div>
                                            
                                            <div class="container" >
                                                <div class="col-12">
                                                    <h3 class="my-3" style="font-family: 'Lato'; color: #181818;font-weight: 600;line-height: 1.2 ;">Transactions</h3>
                                                    <div class="" id="walletDetails">
                                                    
                                        
                                                    </div>
                                                </div>
                                                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                                    <nav aria-label="Page navigation example">
                                                      <ul class="pagination justify-content-start" id="walletPaginationId">
                                                       
                                                      </ul>
                                                    </nav>
                                                  </div>
                                            </div>
                                        </div>
                                    
                                    <!-- MY-wallet-End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    

    <!-- modal-form-start -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="container mt-5">
                <div class="text-center m-5">
                    <h3>Order Details</h3>
                </div>
                <div class="table-responsive">
                    <table class="table shopping-summery text-center clean" id="Mytable">
                        <thead>
                            <tr class="main-heading">
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody >
                            <% for(let i=0;i < response.length;i++){%>
                                <% for(let j=0;j < response[i].products.length;j++){%>

                                <tr>
                                    <td class="image product-thumbnail"><img
                                            src="/uploads/<%= response[i].products[j].Image%>" alt="#">
                                    </td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">
                                                <%=response[i].products[j].productName %>
                                            </a></h5>
                                        <p class="font-xs">
                                            <%=response[i].products[j].description %>
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><p >
                                        ₹<%=response[i].products[j].price %>
                                    </p></td>
                                    <td class="text-center" data-title="Stock">
                                       
                                        <div class="d-flex" >
                                        
                                        <p class="mx-2">
                                            <%=response[i].products[j].quantity[j] %>
                                        </p>
                                        
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span >
                                            ₹<%=response[i].totalPrice %>
                                        </span>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="#" class="text-muted"><i
                                                class="fi-rs-trash" id="delete"
                                                ></i></a>
                                    </td>
                                </tr>
                        <tr>

                        <td class="image"><%=response[i].shippingAddress.addressLine %></td>
                        <td class="product-des">
                            <h5 class="product-name"><a href="shop-product-right.html">Amazon Essentials
                                    Women's Tank</a></h5>
                            <p class="font-xs">Sit at ipsum amet clita no est,<br> sed amet sadipscing et
                                gubergren</p>
                        </td>
                        <td class="price" data-title="Price"><span>$75.00 </span></td>
                        <td class="text-center" data-title="Stock">
                            <div class="detail-qty border radius  m-auto">
                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                <span class="qty-val">2</span>
                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                            </div>
                        </td>
                        <td class="text-right" data-title="Cart">
                            <span>$150.00 </span>
                        </td>
                        <td class="action" data-title="Remove"><a href="#" class="text-muted"><i
                                    class="fi-rs-trash"></i></a></td>
                        </tr>
                        <%} %>
                        <%} %>
                    
                                        <% if(response===null){%>
                                            <tr>
                                                <td colspan="6" class="text-end">
                                                    <a href="#" class="text-muted"> <i
                                                            class="fi-rs-cross-small"></i> Clear Cart</a>
                                                </td>
                                            </tr>

                                            <%} %>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>


<!-- modal-form-start -->
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100 font-weight-bold">Your New Address</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/postAddress?pageInfo=userProfile" method="post" id="form">
            <div class="modal-body mx-3">
                <div class="form-row d-flex justify-content-center">
                    <div class="md-form mb-5 me-2 text-start col-md-6">
                        <input type="text" id="form34" class="form-control validate" placeholder="Name"
                            name="fname">
                    </div>

                    <div class="md-form mb-5 text-start col-md-6">
                        <input type="tel" id="form34" class="form-control validate"
                            placeholder="10-digit phonenumber" name="phonenumber">
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center">
                    <div class="md-form mb-5 me-2 text-start col-md-6">
                        <input type="number" id="form34" class="form-control validate" placeholder="pincode"
                            name="pincode">
                    </div>

                    <div class="md-form mb-5 text-start col-md-6">
                        <input type="text" id="form29" class="form-control validate" placeholder="locality"
                            name="locality">
                    </div>
                </div>
                <div class="md-form mb-5 text-start">
                    <input type="text" id="form29" class="form-control validate"
                        placeholder="address(area and street)" name="address">

                </div>
                <div class="form-row d-flex justify-content-center">
                    <div class="md-form mb-5 text-start col-md-6">
                        <input type="text" id="form29" class="form-control validate"
                            placeholder="city/district/town" name="city">

                    </div>

                    <div class="md-form mb-5 text-start col-md-6">
                        <input type="text" id="form29" class="form-control validate" placeholder="state"
                            name="state">

                    </div>
                </div>
                <div class="form-row d-flex justify-content-center">
                    <div class="md-form mb-5 text-start col-md-6">

                        <input type="text" id="form29" class="form-control validate"
                            placeholder="Landmark(optional)" name="landmark">

                    </div>

                    <div class="md-form mb-5 text-start col-md-6">

                        <input type="tel" id="form29" class="form-control validate"
                            placeholder="Alternate Phone(optional)" name="phoneAlt">
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" id="submit" class="btn btn-unique">Save</button>
            </div>
        </form>
    </div>
</div>
</div>
    
<!-- modal-form--end -->
<script>
     function OrderPagination(e, pageNo,totalPage) {
            e.preventDefault()
            console.log(pageNo);
            $.ajax({
                url: '/orderlist',
                type: 'get',
                data: {
                    pageNo
                },
                success: function (response) {
                    console.log("response : ", response);

                    for(let i=1;i<= parseInt(totalPage);i++){
                        let itemElement = document.getElementById('pagebtn-'+String(i))
                        itemElement.classList.remove('active');
                    }
                    let itemElement = document.getElementById('pagebtn-'+pageNo)
                    itemElement.classList.add('active');

                    let orderListdiv = ''

                    for (let i = 0; i < response.length; i++) {
                        const ele = response[i];
                        orderListdiv += `
                        

                            <tr>
                                <td>order-id: ${ele._id}</td>
                                <td>${ele.createdAt}</td>
                                <td>${ele.orderStatus}</td>
                                <td>${ele.paymentStatus}</td>
                                <td>₹ ${ele.totalPrice}</td>
                                <td>
                                    <a href="/orders?orderId=${ele._id}&pageNo=${pageNo}"><button  class="btn btn-small">view</button></a>
                                </td>
                            </tr>
                                                               
                        `
                    };
                    
                    $('#ordersListId').html(orderListdiv)
                }
            })
        }

        function viewWallet(pageNo=null){
            console.log("pageNo : ",pageNo);
            
            $.ajax({
                url: '/viewWallet',
                type: 'get',
                data: {pageNo},
                success: function (response) {
                   console.log(response);
                    document.getElementById("walletTotal").innerHTML = "Available Balance : ₹"+response.balance
                   let walletInfo = ''
                   let walletPagination =''

                    for (let i = response.transactions.length-1; i >= 0; i--) {
                        const ele = response.transactions[i];
                        walletInfo += `
                        
                        
                        
                        
                <div class="table-responsive order_table text-center mt-5">
                    <table class="table">
                            <tbody id=address-view>
                                    <tr id="${ele._id}">
                                        <td class="mb-5">
                                            <ul class="text-start mt-15 ms-2 ">
                                                <li>
                                                    <h5>
                                                        Date : ${ele.date} 
                                                    </h5>
                                                </li>
                                                <li>
                                                    <h5>
                                                        order-id : ${ele.orderId}
                                                    </h5>
                                                </li>
                                                <li>
                                                    <h5>
                                                        amount : ${ele.amount}
                                                    </h5>
                                                </li>
                                                <li>
                                                    <h5>
                                                        type : <span class="badge rounded-pill ${
                                                            ele.type === 'debit' ? 'alert-danger text-danger' :
                                                            ele.type === 'credit' ? 'alert-success text-success' : 'alert-warning'
                                                    }">${ele.type}</span>
                                                    </h5>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                
                            </tbody>
                    </table>
                </div>
                                                               
                        `
                    }
                    for(let i=1;i<=Math.ceil(response.totaltran/6);i++){
                      walletPagination += `<li class="page-item" id="pagebtn-${i}"><div class="page-link" href="#"
                            onclick="viewWallet('${i}')" style ="min-width:3em">
                            ${i}
                        </div></li>`
                    };
                     
                    $('#walletDetails').html(walletInfo)
                    $('#walletPaginationId').html(walletPagination)
                }
            })
        }
        
</script>
   
</body>

