<!-- Quick view -->
<section>
  

  
  <main class="main">
    <section class="home-slider position-relative pt-25 pb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="position-relative">
              <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                  <div class="container">
                    <div class="slider-1-height-3 slider-animated-1">
                      <div class="hero-slider-content-2">
                        <h4 class="animated">Trade-In Offer</h4>
                        <h2 class="animated fw-900">Supper Value Deals</h2>
                        <h1 class="animated fw-900 text-brand">
                          On All Products
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 70% off
                        </p>
                        <a class="animated btn btn-brush btn-brush-3" href="/shop">
                          Shop Now
                        </a>
                      </div>
                      <div class="slider-img">
                        <img src="assets/imgs/slider/slider-4.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                  <div class="container">
                    <div class="slider-1-height-3 slider-animated-1">
                      <div class="hero-slider-content-2">
                        <h4 class="animated">Tech Promotions</h4>
                        <h2 class="animated fw-900">Tech Trending</h2>
                        <h1 class="animated fw-900 text-brand">
                          Great Collection
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 20% off
                        </p>
                        <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html">
                          Shop Now
                        </a>
                      </div>
                      <div class="slider-img">
                        <img src="assets/imgs/slider/slider-5.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-arrow hero-slider-1-arrow style-3"></div>
            </div>
          </div>
          <div class="col-lg-3 d-md-none d-lg-block">
            <div class="banner-img banner-1 wow fadeIn animated home-3">
              <img class="border-radius-10" src="assets/imgs/banner/banner-5.jpg" alt="" />
              <div class="banner-text">
                <span>Accessories</span>
                <h4>Save 17% on <br />Autumn Hat</h4>
                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
              </div>
            </div>
            <div class="banner-img banner-2 wow fadeIn animated mb-0">
              <img class="border-radius-10" src="assets/imgs/banner/banner-7.jpg" alt="" />
              <div class="banner-text">
                <span>Smart Offer</span>
                <h4>Save 20% on <br />Eardrop</h4>
                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- tab-section-start     -->
    <section class="product-tabs section-padding wow fadeIn animated">
      <div class="container">
        <div class="tab-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one"
                type="button" role="tab" aria-controls="tab-one" aria-selected="true"
                onclick="subCatFilter('null','null','null', 'featured')">
                Featured
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button"
                role="tab" aria-controls="tab-two" aria-selected="false"
                onclick="subCatFilter('null','null','null', 'popular')">
                Popular
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button"
                role="tab" aria-controls="tab-three" aria-selected="false"
                onclick="subCatFilter('null','null','null', 'newlyAdded')">
                New added
              </button>
            </li>
          </ul>
          <a href="/shop" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content wow fadeIn animated" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
            <div class="row product-grid-4" id="productFilterPageId">

            <%for(let i=0;i< response.featured[0].products.length;i++){%>
              <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/product-details/<%= response.featured[0].products[i]._id %>">
                        <img class="default-img" src="uploads/<%=response.featured[0].products[i].Image[0]%>" alt="" />
                        <img class="hover-img" src="uploads/<%=response.featured[0].products[i].Image[3]%>" alt="" />
                      </a>
                    </div>
                    <div class="product-action-1">

                      <% if(locals.headerStatus) {%>
                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""
                          onclick="addWishlist(event,'<%=response.featured[0].products[i]._id%>')"><i class="fi-rs-heart"></i></a>

                        <%} else {%>
                          <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""
                            onclick="addWishlist2(event)"><i class="fi-rs-heart"></i></a>
                          <%} %>

                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg">
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="/product-details/<%= response.featured[0].products[i]._id %>">Clothing</a>
                    </div>
                    <h2>
                      <a href="/product-details/<%= response.featured[0].products[i]._id %>"> <%=response.featured[0].products[i].product_name%></a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span> ₹ <%=response.featured[0].products[i].price%></span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <% if(locals.headerStatus) {%>
                        <div aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"
                            onclick="addTocart('<%=response.featured[0].products[i]._id%>','<%=response.featured[0].products[i].price%>')"></i></div>

                        <%} else {%>
                          <div aria-label="Add To Cart" class="action-btn hover-up" style="z-index: 100;"><i
                              class="fi-rs-shopping-bag-add" onclick="addTocart2()"></i></div>
                          <%} %>
                    </div>
                  </div>
                </div>
              </div>
              <%}%>

              <!--End product-grid-4-->
            </div>
            <!--En tab one (Featured)-->

            <!--End product-grid-4-->
          </div>
          <!--En tab two (Popular)-->


          <!--End product-grid-4-->

          <!--En tab three (New added)-->
        </div>
        <!--End tab-content-->
      </div>
    </section>
    <!-- tab-section-End -->
    <!-- <section class="banner-2 section-padding pb-0">
      <div class="container">
        <div class="banner-img banner-big wow fadeIn animated f-none">
          <img src="assets/imgs/banner/banner-4.png" alt="" />
          <div class="banner-text d-md-block d-none">
            <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
            <h1 class="fw-600 mb-20">
              We're an Apple <br />Authorised Service Provider
            </h1>
            <a href="shop-grid-right.html" class="btn"
              >Learn More <i class="fi-rs-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="banners mb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="banner-img wow fadeIn animated">
              <img src="assets/imgs/banner/banner-1.png" alt="" />
              <div class="banner-text">
                <span>Smart Offer</span>
                <h4>Save 20% on <br />Woman Bag</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="banner-img wow fadeIn animated">
              <img src="assets/imgs/banner/banner-2.png" alt="" />
              <div class="banner-text">
                <span>Sale off</span>
                <h4>Great Summer <br />Collection</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-md-none d-lg-flex">
            <div class="banner-img wow fadeIn animated mb-sm-0">
              <img src="assets/imgs/banner/banner-3.png" alt="" />
              <div class="banner-text">
                <span>New Arrivals</span>
                <h4>Shop Today’s <br />Deals & Offers</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="pt-25 pb-20">
      <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
        <div class="carausel-6-columns-cover position-relative">
          <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
          <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
            <%for(let i=0;i< response.newAdded.length;i++){%>
            <div class="product-cart-wrap small hover-up">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="/product-details/<%= response.newAdded[i]._id %>">
                    <img class="default-img" src="uploads/<%=response.newAdded[i].Image[0]%>" alt="" />
                    <img class="hover-img" src="uploads/<%=response.newAdded[i].Image[0]%>" alt="" />
                  </a>
                </div>
                <div class="product-action-1">
                  <% if(locals.headerStatus) {%>
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""
                      onclick="addWishlist(event,'<%= response.newAdded[i]._id %>')"><i class="fi-rs-heart"></i></a>

                    <%} else {%>
                      <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""
                        onclick="addWishlist2(event)"><i class="fi-rs-heart"></i></a>
                      <%} %>
                </div>
                <div class="product-badges product-badges-position product-badges-mrg">
                  <span class="hot">Hot</span>
                </div>
              </div>
              <div class="product-content-wrap">
                <h2>
                  <a href="/product-details/<%= response.newAdded[i]._id %>"><%=response.newAdded[i].product_name.slice(0,20)%></a>
                </h2>
                <div class="rating-result" title="90%">
                  <span> </span>
                </div>
                <div class="product-price">
                  <span>₹ <%=response.newAdded[i].price%> </span>
                  <span class="old-price">₹2245.8</span>
                </div>
              </div>
            </div>
            <%}%>

          </div>
        </div>
      </div>
    </section>
   

  </main>
</section>

<script>
  function subCatFilter(gender = null, category = null, subcategory = null, sortType) {

    console.log("subCatFilter function invoke : ", gender, category, subcategory, sortType);

    $.ajax({
      url: '/subCatFilter',
      type: 'post',
      data: {
        gender,
        category,
        subcategory,
        sortType
      },
      success: function (response) {
        console.log("subCatFilter function invoke2 : ", gender, category, subcategory, sortType);
        console.log("response1: ", response);

        let productFilterPage = ''

        for (let i = 0; i < 8; i++) {
          const ele = response[i];
          productFilterPage += `
          <div class="col-lg-3 col-md-4 col-12 col-sm-6" >
          <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img class="default-img" src="uploads/${ele.Image[0]}"  alt="" />
                        <img class="hover-img" src="uploads/${ele.Image[3]}" alt="" />
                      </a>
                    </div>
                    <div class="product-action-1">
                      
                      <% if(locals.headerStatus) {%>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="" onclick="addWishlist(event,'${ele._id}')"><i
                              class="fi-rs-heart"></i></a>

                            <%} else {%>
                              <a aria-label="Add To Wishlist" class="action-btn hover-up" href="" onclick="addWishlist2(event)"><i
                                class="fi-rs-heart"></i></a>
                              <%} %>
                      
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg">
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Clothing</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"> ${ele.product_name}</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span> ₹${ele.price}</span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <% if(locals.headerStatus) {%>
                        <div aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"
                            onclick="addTocart('${ele._id}','${ele.price}')"></i></div>

                        <%} else {%>
                          <div aria-label="Add To Cart" class="action-btn hover-up" style="z-index: 100;"><i
                              class="fi-rs-shopping-bag-add" onclick="addTocart2()"></i></div>
                          <%} %>
                    </div>
                  </div>
                </div>
                </div>
`
        };
        $('#productFilterPageId').html(productFilterPage)
      }
    })
  }
</script>