<body>

    <div class="container">

        <section class="content-main">
            <div class="content-header">
                <div class="mt-100">
                    <h2 class="content-title card-title">Order List </h2>

                </div>

            </div>
            <div class="card mb-4">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Orders</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">order Status</th>
                                    <th scope="col">payment Status</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody  id="ordersListId">
                                <%for(let i=0;i< response.length;i++){%>
                                    <tr>
                                        <td>order-id : <%=response[i]._id%>
                                        </td>
                                        <td><b>
                                                <%=response[i].createdAt%>
                                            </b></td>
                                        <%if(response[i].orderStatus==='cancelled' ){%>
                                            <td class="text-center"><span
                                                    class="badge rounded-pill alert-danger text-danger">
                                                    <%=response[i].orderStatus %>
                                                </span></td>
                                            <%}else if(response[i].orderStatus==='Delivered' ){%>
                                                <td class="text-center"><span
                                                        class="badge rounded-pill alert-success text-success">
                                                        <%=response[i].orderStatus %>
                                                    </span></td>
                                                <%}else{%>
                                                    <td class="text-center"><span
                                                            class="badge rounded-pill alert-warning">
                                                            <%=response[i].orderStatus %>
                                                        </span></td>
                                                    <%}%>
                                                        <td class="text-center">
                                                            <p class="badge rounded-pill alert-success text-success">
                                                                <%=response[i].paymentStatus%>
                                                            </p>
                                                        </td>
                                                        <td class="text-center">₹ <%=response[i].totalPrice%>
                                                        </td>

                                                        <td class="text-end">
                                                            <a href="/orders?orderId=<%=response[i]._id%>"
                                                                class="btn btn-md rounded font-sm">View</a>
                                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <%for(let i=1;i<=Math.ceil(length/10);i++){%>
                            <li class="page-item"  id="pagebtn-<%=i%>"><a class="page-link" href="#"
                                    onclick="OrderPagination(event,'<%=i%>','<%=Math.ceil(length/10)%>')">
                                    <%=i%>
                                </a></li>
                            <%}%>
                                <!-- <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li> 
                                 <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li> -->
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">

        </footer>
    </div>

    <script>

        function OrderPagination(e, pageNo,totalPage) {
            e.preventDefault()
            console.log(pageNo);
            $.ajax({
                url: '/orderlist',
                type: 'get',
                data: {
                    pageNo
                },
                success: function (response) {
                    console.log("response : ", response);
                    for(let i=1;i<= parseInt(totalPage);i++){
                        let itemElement = document.getElementById('pagebtn-'+String(i))
                        itemElement.classList.remove('active');
                    }
                    let itemElement = document.getElementById('pagebtn-'+pageNo)
                    itemElement.classList.add('active');

                    let orderListdiv = ''

                    for (let i = 0; i < response.length; i++) {
                        const ele = response[i];
                        orderListdiv += `
                        
                            <tr>
                                <td>order-id : ${ele._id}
                                </td>
                                <td><b>
                                    ${ele.createdAt}
                                    </b></td>
                                if(response[i].orderStatus==='cancelled' ){
                                    <td class="text-center"><span
                                            class="badge rounded-pill alert-danger text-danger">
                                        ${ele.orderStatus}
                                        </span></td>
                                    }else if(${ele.orderStatus}==='Delivered' ){
                                        <td class="text-center"><span
                                                class="badge rounded-pill alert-success text-success">
                                                ${ele.orderStatus}
                                            </span></td>
                                        }else{
                                            <td class="text-center"><span
                                                    class="badge rounded-pill alert-warning">
                                                    ${ele.orderStatus}
                                                </span></td>
                                            }
                                                <td class="text-center">
                                                    <p class="badge rounded-pill alert-success text-success">
                                                        ${ele.paymentStatus}
                                                    </p>
                                                </td>
                                                <td class="text-center">₹ ${ele.totalPrice}
                                                </td>

                                                <td class="text-end">
                                                    <a href="/orders?orderId=${ele._id}&pageNo=${pageNo}"
                                                        class="btn btn-md rounded font-sm">View</a>
                                                </td>
                            </tr> 
                        `
                    };
                    $('#ordersListId').html(orderListdiv)
                }
            })
        }

    </script>
</body>