<body>

    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" >Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50" id="wishlistViewtable">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <%if(response.length === 0){%>
                            <div class="text-center">
                                <p style="font-size: x-large; margin-bottom: 3em;">your wishlist is empty..!</p>
                            </div>
                            <%}else{%>
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <%for(let i=0;i< response.length;i++){%>
                                        <tr>
                                            <td class="image product-thumbnail"><img
                                                    src="/uploads/<%=response[i].wishlistProducts.Image[0]%>" alt="#">
                                            </td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name"><a href="/product-details/<%= response[i].wishlistProducts._id %>">
                                                        <%=response[i].wishlistProducts.product_name%>
                                                    </a></h5>
                                                <p class="font-xs">
                                                    <%=response[i].wishlistProducts.description.slice(0,100)%>...
                                                </p>
                                            </td>
                                            <td class="price" data-title="Price"><span>₹
                                                    <%=response[i].wishlistProducts.price%> </span></td>
                                            <td class="text-center" data-title="Stock">
                                                <%if(response[i].wishlistProducts.product_details[0].quantity === 0){%>
                                                    <span class="in-stock text-danger ml-5">Out of Stock</span>
                                                    <%}else{%>
                                                        <span class="in-stock text-success ml-5">In Stock</span>
                                                        <%}%>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <%if(response[i].wishlistProducts.product_details[0].quantity === 0){%>
                                                <button class="btn btn-sm disabled"
                                                    onclick="addTocart('<%=response[i].wishlistProducts._id%>','<%=response[i].wishlistProducts.price%>')">
                                                    <i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                                    <%}else{%>
                                                        <button class="btn btn-sm"
                                                        onclick="addTocart('<%=response[i].wishlistProducts._id%>','<%=response[i].wishlistProducts.price%>')">
                                                        <i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                                        <%}%>
                                            </td>
                                            <td class="action" data-title="Remove" onclick="deleteWishlist('<%=response[i].wishlistProducts._id%>')"><i
                                                        class="fi-rs-trash"></i></td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </section>
    </main>
 

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:04 GMT -->

</html>